	<%= form_for @todoitem,url: @todoitem.new_record? ? todo_todoitems_path : todo_todoitem_path do |f| %>
	<div class="field">	<%= f.text_field :title, placeholder: "New todo" %>
</div>
	<div class="field">	<%= f.text_area :description, placeholder: "Description" %>
</div>

	<%= f.submit %>
<% end %>