/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require rails_bootstrap_forms
 *= require_self
 

 */
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body{
	padding:75px 50px;
	background:image-url('bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

}
.cursive {
	font-family:cursive;
}
.container1 {
	min-width:80%;
	margin:0 auto;
	background:white;
	border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    border-radius:10px;
	

}

td{
	width:50px;
}

#date{
	width:100px;
}
#complete{
	background:white;
}
li{
	list-style:none;
}
@font-face {
    font-family: 'dancing_script_otregular';
    src: font-url('dancingscript-regular-webfont.eot');
    src: font-url('dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dancingscript-regular-webfont.woff2') format('woff2'),
         font-url('dancingscript-regular-webfont.woff') format('woff'),
         font-url('dancingscript-regular-webfont.ttf') format('truetype'),
         font-url('dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container1 > h1{
	font-family: 'dancing_script_otregular';
}